<div class="contact-section" id="contact">
  <div class="contact-content">
    <div class="contact-headline">
      <h2> {{'CONTACT' | translate }} </h2>
      <div class="contact-line"></div>
    </div>
    <div class="contact-d-flex">
      
      <div>
        <div class="contact-line-span"></div>
        <div class="contact-text">
          <span class="contact-text-headline"> {{'PROBLEM' | translate}} </span>
          <span class="contact-text-block"
            > {{'CONTACTTEXTBLOCK' | translate }}
          </span>
          <span class="contact-text-end"
            > {{'CONTACTTEXTEND' | translate}} <b> {{'CONTACTTEXTENDCONTACT' | translate }} </b>
          </span>
        </div>
      </div>

      <div class="contact-form">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <label for="name"></label>
          <input
            #name="ngModel"
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            placeholder=" {{ 'YOURNAME' | translate }} "
            required=""
          />

          <span
            *ngIf="name?.invalid && name?.touched"
            [ngClass]="{ 'error-text': name?.invalid && name?.touched }"
          >
            {{'ENTERNAME' | translate }}  </span
          >

          <label for="email"></label>
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            placeholder=" {{'YOURMAIL' | translate }} "
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <span
            *ngIf="email?.invalid && email?.touched"
            [ngClass]="{ 'error-text': email?.invalid && email?.touched }"
          >
            {{'ENTERMAIL' | translate}}  </span
          >

          <label for="message"></label>
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            type="email"
            id="message"
            name="message"
            placeholder=" {{'YOURMSG' | translate}} "
            required
          ></textarea>

          <span
            [ngClass]="{ 'error-text': message?.invalid && message?.touched }"
          >
            {{'ENTERMSG' | translate}}  </span
          >

          <div class="contact-form-btn-box">
            <div class="privacy-policy">
              <label class="contact-checkbox-container">
                <input
                  [(ngModel)]="privacyPolicyChecked"
                  required
                  type="checkbox"
                  name="privacePolicy"
                />
                <span class="contact-privacy-checkmark"></span>
              </label>
              <span
                > {{'PRIVACYSPAN1' | translate }} <a> {{'PRIVACYPOLICY' | translate }} </a> {{'PRIVACYSPAN2' | translate }} </span
              >
            </div>
            <button
              [disabled]="!contactForm.valid || !privacyPolicyChecked"
              [ngClass]="{
                valid: contactForm.valid && privacyPolicyChecked,
                invalid: !contactForm.valid || !privacyPolicyChecked,
                success: isButtonSuccess
              }"
              type="submit"
            >
            {{ isButtonSuccess ? ('MSGSUCCESS' | translate) : ('MSGSND' | translate) }}
            </button>
          </div>
        </form>
        <a href="#" class="contact-btn-up">
          <img
            src="assets/img/contact/4. Go up button.png"
            class="defaultImg"
          />
          <img
            src="assets/img/contact/go up btn hover.png"
            class="hoverImg"
          />
        </a>
      </div>
    </div>
  </div>
    <div class="purple-shadow">
      <img src="assets/img/background/55. Purple shadow footer V2.png" alt="">
    </div>
  
</div>
