section {
  background-color: #151d2e;
  color: white;
  background-size: cover;
  box-sizing: border-box;
  height: 870px;
  max-width: 1920px;
  margin: 0 auto;
}

#about-me {
  scroll-margin-top: 24px;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.about-me-description {
  padding: 64px 64px 64px 120px;
  color: white;
  width: 680px;
  height: 740px;
  left: 100px;
  text-align: left;

  h1 {
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
  }

  p {
    padding-top: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    letter-spacing: 0.5px;
  }
}

.about-me-small-points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;

  img {
    width: 48px;
    height: 48px;

    &:hover {
      cursor: pointer;
      transform: scale(1.4);
    }
  }
}

.about-me-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-left: 166px;
  left: 134px;
  top: 141px;
}

.about-me-img1 {
  position: absolute;
  top: 42px;
  left: 108px;
  width: 834px;
  height: auto;
  z-index: 1;

  img {
    width: 634px;
  }
}

.about-me-img img:not(.about-me-img1) {
  position: relative;
  z-index: 2;
  height: 737px;
  max-width: 593px;
}

@media screen and (min-width: 1555px){
  .about-me-description {
    padding-top: 32px;
  }
}

@media screen and (max-width: 1700px) {
  .about-me-img {
    left: 240px;
    padding-left: 32px;
    padding-right: 4px;
    top: 107px;
  }

  .about-me-img1 {
    left: -68px;
    width: 857px;
  }
}

@media screen and (max-width: 1650px) {
  .about-me-img {
    left: 69px;
        padding-left: 32px;
        padding-right: 4px;
        top: 133px;
  }

  .about-me-img1 {
    left: -68px;
    width: 857px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1545px) {
  .about-me-description {
    padding-top: 90px;

    h1 {
      font-size: 72px;
      line-height: 58px;
    }

    p {
      padding-top: 36px;
    }
  }

  .about-me-img {
    left: 10px;
    padding-left: 20px;
    padding-right: 4px;
  }

  .about-me-img1 {
    left: -68px;
    width: 857px;
  }

  .about-me-img1 img {
    transform: scale(0.5);
  }

  .about-me-img img {
    top: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .about-me-description {
    margin-left: 3%;
    padding: 2rem 0rem;
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 15px;
    }
  }

  .about-me-img {
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .about-me-img img:first-of-type {
    right: -9.5%;
    transform: scale(0.7);
    top: 180px;
  }

  .about-me-img img {
    right: 8px;
    transform: scale(0.6);
    top: 180px;
  }
}

@media screen and (max-width: 1023px) {
  .about-me-description {
    z-index: 1;
    width: 340px;
    h1 {
      padding: 1rem 0rem;
      font-size: 90px;
      margin: 0;
    }
    p {
      font-size: 14px;
      padding: 1rem 0rem;
    }
  }
  .about-me-img img:first-of-type {
    right: -12%;
  }
}

@media screen and (max-width: 900px) {
  .about-me-section {
    height: unset;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }

  .about-me {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 100px;
  }

  .about-me-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 100px;
    z-index: 9;
    position: relative;
    padding: 3rem 0rem;
    left: -40px;
    width: 642px;

    h1 {
      font-size: 88px;
    }

    p {
      font-size: 14px;
      line-height: 32.2px;
    }
  }

  .about-me-img {
    top: -180px;
    left: -66px;
  }

  .about-me-img1 {
    padding-top: 0px;
    scale: 1.1;
  }

  .about-me-img1 img {
    scale: 1.5;
  }

  .about-me-img2 {
    padding-top: 80px;
    scale: 1.5;
  }
}

@media screen and (max-width: 780px) {
  .about-me-description {
    left: 0px;

    h1 {
      font-size: 45px;
    }

    p {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

@media screen and (max-width: 700px) {
  .about-me-description {
    left: -10px;
    width: 400px;

    h1 {
      font-size: 45px;
    }

    p {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
  .about-me-img1 {
    padding-top: 0px;
    scale: 1;
  }

  .about-me-img1 img {
    scale: 1.4;
  }

  .about-me-img2 {
    padding-top: 80px;
    scale: 1.4;
  }
}

@media screen and (max-width: 560px) {
  .aboutMe {
    width: 350px;
    left: 30px;
    h1 {
      font-size: 48px;
    }
  }

  .about-me-img {
    top: -180px;
    left: -36px;
  }

  .about-me-img1 {
    padding-top: 0px;
    scale: 0.8;
  }

  .about-me-img2 {
    padding-top: 80px;
    scale: 1.2;
  }
}

@media screen and (max-width: 470px) {
  .aboutMe {
    bottom: 400px;
    width: 230px;
    padding-left: 4px;
  }

  .about-me-description {
    left: -10px;
    width: 360px;
  }

  .about-me-img {
    top: -180px;
    left: -46px;
  }

  .about-me-img1 {
    padding-top: 0px;
    scale: 0.6;
  }

  .about-me-img2 {
    padding-top: 80px;
    scale: 1;
  }
}
@media screen and (max-width: 400px) {
  .aboutMe {
    width: 300px;
  }

  .about-me-img {
    top: -300px;
    left: -26px;
  }

  .about-me-description {
    margin-top: -220px;
    left: -10px;
    padding: 4px;
    width: 280px;
  }

  .about-me-img1 {
    scale: 0.45;
  }

  .about-me-img2 {
    padding-top: 80px;
    scale: 0.85;
  }
}
