<section  id="about-me" class="offset-scroll about-me-section">
    <div class="about-me">
      <div class="about-me-description">
        <h1>{{'ABOUTME' | translate}}</h1>
        <p>
          {{'ABOUTMEDESCRIPTIONP1' | translate}}
        </p>
        <p>{{'ABOUTMEDESCRIPTIONP2' | translate}}</p>
        <div class="about-me-small-points">
          <img src="assets/img/about_me/Property 1=Default b.png" alt="" />
          <span>
            {{'ABOUTMEDESCRIPTIONSPAN1' | translate}}
          </span>
        </div>
        <div class="about-me-small-points">
          <img src="assets/img/about_me/Property 1=Default B (1).png" alt="" /> 
          <span>
            {{'ABOUTMEDESCRIPTIONSPAN2' | translate}}
          </span>
        </div>
        <div class="about-me-small-points">
          <img src="assets/img/about_me/Property 1=Default B (2).png" alt="" />
          <span>
            {{'ABOUTMEDESCRIPTIONSPAN3' | translate}}
          </span>
        </div>
      </div>
    
      <div class="about-me-img">
          <img class="about-me-img1" src="assets/img/background/29. photo shadows.png" alt="">
          <img class="about-me-img2" src="assets/img/about_me/about_me_pic_seb.png" alt="">
      </div>
    </div>
  </section>