.landing-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #151d2e;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  color: white;
  margin: 0 auto;
  overflow: hidden;
}

.shadow-purple {
  position: absolute;
  left: -280px;
  top: 99px;
  width: 820px;
  height: 720px;
  gap: 0px;
}

.shadow-blue {
  position: absolute;
  top: 2%;
  right: -440px;
  width: 820px;
  height: 833px;
  gap: 0px;
  rotate: 9.87deg;
}

.titel-box {
  display: flex;
  gap: 12px;
  z-index: 2;
  padding-right: 140px;
  padding-top: 297px;
  padding-bottom: 72px;
}

.rotate-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  font-weight: 400;
  line-height: 108px;

  span {
    width: 200px;
    height: 108px;
    rotate: -90deg;
  }
}

.titel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  bottom: 40px;

  h1 {
    font-size: 128px;
    font-weight: 700;
    line-height: 153.6px;
  }

  h2 {
    font-size: 64px;
    font-weight: 400;
    color: #9747ff;
    line-height: 76.8px;
  }
}

.btn {
  text-decoration: none;
  padding-top: 72px;

  .btn-trans {
    transition: 220ms;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.btn-primary {
  width: 165px;
  height: 58px;
  font-size: 23px;
}

.landingpage-bottom-section {
  padding-top: 216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
}

.landingpage-link-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42px;
  top: 867px;

  hr {
    display: block;
    width: 100px;
    border: 4px;
    border-top: 4px solid #70e61c;
    padding: 0;
  }

  img {
    cursor: pointer;
    width: 30px;
    transition: 200ms;
    transform: scale(1);

    &:hover {
      transform: scale(1.5);
    }
  }
}

.text-right-side {
  display: none;
}

@media screen and (max-width: 1050px) {
  .titel-box {
    padding-right: 40px;
  }

  .rotate-title {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 200;
    line-height: 100px;

    span {
      width: 100px;
      height: 74px;
      rotate: -90deg;
    }
  }

  .titel {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 45px;
      line-height: 54px;
    }

    h2 {
      font-size: 29px;
      line-height: 34.8px;
    }
  }

  .text-right-side {
    padding-right: 4%;
  }

  .btn-primary {
    width: auto;
    height: 49px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {

  .titel-box {
    display: flex;
    gap: 10px;
    padding-right: 0px;
    padding-top: 300px;
    padding-left: 12px;
    width: 100%;
  }

  .rotate-title {
    margin: 0;
    padding: 0;
    left: 12px;
  }

  .titel {
    margin: 0;
    padding: 0;

    h1 {
      font-size: 45px;
      line-height: 14px;
    }

    h2 {
      font-size: 29px;
      line-height: 24px
    }
  }

  .rotate-title {
    font-size: 32px;
    font-weight: 200;
    line-height: 28.4px;
    justify-content: flex-start;
    padding-top: 48px;

    span {
      width: 32px;
      height: 38.4px;
      rotate: -90deg;
    }
  }

  .shadow-purple {
    left: -120px;
    top: 240px;
    width: 373.79px;
    height: 389.95px;
    gap: 0px;
  }
  
  .shadow-blue {
    top: 2%;
    right: -200px;
    width: 380px;
    height: 1100px;
  }
}
