.landing-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #151d2e;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  color: white;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.shadow-purple {
  position: absolute;
  left: -280px;
  top: 99px;
  width: 820px;
  height: 720px;
  gap: 0px;
}

.shadow-blue {
  position: absolute;
  top: 2%;
  right: -440px;
  width: 820px;
  height: 833px;
  gap: 0px;
  rotate: 9.87deg;
}

.titel-box {
  display: flex;
  gap: 12px;
  z-index: 2;
  padding-right: 140px;
  padding-top: 297px;
  padding-bottom: 72px;
}

.rotate-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(-90deg);

  span {
    font-size: 90px;
    font-weight: 400;
    line-height: 108px;
  }
}

.titel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  bottom: 40px;

  h1 {
    font-size: 128px;
    font-weight: 700;
    line-height: 153.6px;
    margin: 0;
  }

  h2 {
    font-size: 64px;
    font-weight: 400;
    color: #9747ff;
    line-height: 76.8px;
  }
}

.btn {
  text-decoration: none;
  padding-top: 72px;

  .btn-trans {
    transition: 220ms;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.btn-primary {
  width: 165px;
  height: 58px;
  font-size: 23px;
}

.landingpage-bottom-section {
  padding-top: 216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
}

.landingpage-link-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42px;
  top: 867px;

  hr {
    display: block;
    width: 100px;
    border: 4px;
    border-top: 4px solid #70e61c;
    padding: 0;
  }

  img {
    cursor: pointer;
    width: 30px;
    transition: 200ms;
    transform: scale(1);

    &:hover {
      transform: scale(1.5);
    }
  }
}

.text-right-side {
  position: relative;
  bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  rotate: 90deg;

  p {
    rotate: 90deg;
    width: 133px;
    height: 28px;
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    align-items: center;
  }

  img {
    rotate: -90deg;

    &:hover{
      transition: transform .25s;
      transform: scale(1.5);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1475px) {
  .titel {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    bottom: 40px;

    h1 {
      font-size: 100px;
      line-height: 100.6px;
      margin: 0;
    }

    h2 {
      font-size: 64px;
      line-height: 36.8px;
    }
  }

  .rotate-title {
    span {
      font-size: 67px;
      font-weight: 400;
      line-height: 88px;
    }
  }
}

@media screen and (max-width: 1237px) {
  .titel {
    h1 {
      font-size: 89px;
    }

    h2 {
      font-size: 56px;
    }
  }
}

@media screen and (max-width: 1110px) {
  .titel {
    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .titel-box {
    padding-right: 40px;
  }

  .rotate-title {
    span {
      font-size: 40px;
      font-weight: 200;
      line-height: 100px;
    }
  }

  .titel {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 60px;
      line-height: 61px;
    }

    h2 {
      font-size: 29px;
      line-height: 14.8px;
    }
  }

  .text-right-side {
    padding-right: 4%;
  }

  .btn-primary {
    width: auto;
    height: 49px;
    font-size: 16px;
  }

  .shadow-purple {
    left: -120px;
    top: 150px;
    width: 573.79px;
    height: 589.95px;
    gap: 0px;
  }

  .shadow-blue {
    top: 2%;
    right: -200px;
    width: 580px;
    height: 1100px;
  }
}

@media screen and (max-width: 700px) {
  .rotate-title {
    span {
      font-size: 28px;
      line-height: 38px;
    }
  }

  .titel {
    h1 {
      font-size: 38px;
      line-height: 36px;
    }

    h2 {
      font-size: 24px;
      line-height: 18px;
    }
  }
}

@media screen and (max-width: 600px) {
  .titel-box {
    width: 100%;
    justify-content: center;
  }

  .titel {
    h1 {
      font-size: 38px;
      line-height: 38px;
    }

    h2 {
      font-size: 24px;
      line-height: 18px;
    }
  }

  .rotate-title {
    .titel-box {
      span {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }

  .shadow-purple {
    left: -120px;
    top: 240px;
    width: 373.79px;
    height: 389.95px;
    gap: 0px;
  }

  .shadow-blue {
    top: 2%;
    right: -200px;
    width: 380px;
    height: 1100px;
  }
}

@media screen and (max-width: 450px) {
  .titel-box {
    display: flex;
    gap: 10px;
    padding-right: 0px;
    padding-top: 320px;
    padding-left: 12px;
    width: 100%;
  }

  .titel {
    margin: 0;
    padding: 0px;

    h1 {
      font-size: 32px;
      line-height: 30px;
    }

    h2 {
      font-size: 18px;
      line-height: 4px;
    }
  }

  .rotate-title {
    span {
      line-height: 27.4px;
      font-size: 20px;
    }
  }

  .shadow-purple {
    left: -120px;
    top: 240px;
    width: 373.79px;
    height: 389.95px;
    gap: 0px;
  }

  .shadow-blue {
    top: 2%;
    right: -200px;
    width: 380px;
    height: 1100px;
  }
}

@media screen and (max-width: 350px) {
  .titel-box {
    display: flex;
    gap: 10px;
    padding-right: 0px;
    padding-top: 320px;
    padding-left: 12px;
    width: 100%;
  }

  .titel {
    h1 {
      font-size: 23px;
      line-height: 22px;
    }

    h2 {
      font-size: 14px;
      line-height: 4px;
    }
  }
}
