section {
    
  }

  .landing-page-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #151d2e;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .shadow-purple {
    position: absolute;
    left: -280px;
    top: 99px;
    width: 820px;
    height: 720px;
    gap: 0px;
  }
  
  .shadow-blue {
    position: absolute;
    top: 2%;
    right: -440px;
    width: 820px;
    height: 833px;
    gap: 0px;
    rotate: 9.87deg;
  }
  
  .titel-box {
    display: flex;
    gap: 12px;
    z-index: 2;
    padding-right: 140px;
    padding-top: 297px;
    padding-bottom: 72px;
  }
  
  .rotate-title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    line-height: 108px;
  
    span {
      width: 200px;
      height: 108px;
      rotate: -90deg;
    }
  }
  
  .titel {
      display: flex;
      flex-direction: column;
      gap: 6px;
      justify-content: center;
      bottom: 40px;
      
  
      h1 {
          font-size: 128px;
          font-weight: 700;
          line-height: 153.6px;
      }
  
      h2 {
          font-size: 64px;
          font-weight: 400;
          color: #9747FF;
          line-height: 76.8px;
      }
  }
  
  .btn {
      text-decoration: none;
      padding-top: 72px;
      
  
      .btn-trans {
          transition: 220ms;
          transform: scale(1);
  
          &:hover {
              transform: scale(1.1);
          }
      }
  }
  
  .landingpage-bottom-section {
      padding-top: 216px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-left: 0;
  }
  
  .landingpage-link-section {
      
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 42px;
      top: 867px;
  
      hr {
          display: block;
          width: 100px;
          border: 4px;
          border-top: 4px solid #70E61C;
          padding: 0;
  
      }
  
      img {
          cursor: pointer;
          width: 30px;
          transition: 200ms;
          transform: scale(1);
  
          &:hover {
              transform: scale(1.5);
          }
      }
  }
  
  .text-right-side {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      rotate: 90deg;
      padding-top: 96px;
      padding-right: 96px;
  
      span {
          display: flex;
          font-size: 23px;
          font-weight: 400;
          color: white;
          line-height: 27.6px;
      }
  
      img {
          width: 24px;
          height: 24px;
          rotate: -90deg;
      }
  
      
  }