<section id="landing-page">
  <div class="landing-page-content">
    <div class="titel-box">
      <div class="rotate-title">
        <span>I am</span>
      </div>

      <div class="titel">
        <h1>Sebastian Schult</h1>
        <h2>FRONTEND DEVELOPER</h2>
        
          <img
            src="assets/img/background/30. Purple shadow about me.png"
            alt="purple shadow about me"
            class="shadow-purple"
          />
          <img
            src="assets/img/background/52. Blue shadow 1 V2.svg"
            alt="blue shadow about me"
            class="shadow-blue"
          />
        
      </div>
    </div>

    <div>
      <a href="#contact" class="btn">
        <button class="btn-primary btn-trans">Let´s talk</button>
      </a>
    </div>

    <div class="landingpage-bottom-section">
      <div class="landingpage-link-section">
        <hr />
        <a href="https://github.com/SebastianSchult" target="_blank">
          <img
            src="assets/img/social_btn/Property 1=Default.png"
            alt="Github"
          />
        </a>
        <a href="#contact">
          <img
            src="assets/img/social_btn/Property 1=Default (1).png"
            alt="E-Mail"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/sebastian-schult-74b69626a/"
          target="_blank"
        >
          <img
            src="assets/img/social_btn/Property 1=Default (2).png"
            alt="Linkedin"
          />
        </a>
      </div>

      <div class="text-right-side">
        <span>Scroll down</span>
        <img
          src="../../../assets/img/btn/arrow-down-line.png"
          alt="arrow down"
          (click)="scrollToContact()"
        />
      </div>
    </div>
    
  </div>
</section>
