
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
    
    margin: 0; // Zentriert den Inhalt bei größeren Bildschirmen
  }

  .nav-container {
    position: sticky;
    top: 0;
    width: 100%; /* Passt sich der Container-Breite an */
    z-index: 1000;
  }