<div class="skills-container">
  <div class="skills-bg">
    <img
      class="img"
      src="assets/img/background/28. Hero Background.png"
      alt=""
    />
    <img
      class="img img-below"
      src="assets/img/background/28. Hero Background.png"
      alt=""
    />
  </div>
  <section id="skills">
    <div class="skills-class">
      <div class="skills-claas-img skill-item-fade-in">
        <div *ngFor="let skill of skills" class="skill-item">
          <img [src]="skill.src" alt="" />
          <p class="skill-description">{{ skill.description }}</p>
        </div>
      </div>
      <div
        class="continous"
        (mouseenter)="onHoverContinous()"
        (mouseleave)="onLeaveContinous()"
      >
        <img
          *ngIf="!isHoveringContinous"
          src="assets/img/skills/14. Icons.svg"
          alt=""
        />
        <img
          *ngIf="isHoveringContinous"
          src="assets/img/skills/Property 1=Group 19.png"
          class="continous-img2"
          alt=""
        />
        <p class="skill-description">Continually learning</p>
      </div>
    </div>

    <div class="skills-text-section">
      <div class="skills-headline">
        <h1>Skills</h1>
        <hr />
      </div>
      <div class="skills-text-block">
        <p>
          {{'SKILLSTEXTBLOCKP1' | translate }}
        </p>

        <h2>
          {{'SKILLSTEXTBLOCKH2' | translate }} <span class="skillstext-dif-color">{{'SKILLSTEXTBLOCKH2SPAN' | translate }}</span> ?
        </h2>
        <p>
          {{'SKILLSTEXTBLOCKP3' | translate }}
        </p>
        <a href="#contact" class="btn btn-ref btn-padding">
          <button class="btn-primary btn-trans">{{'BTNCONTACT' | translate }}</button>
        </a>
      </div>
    </div>
  </section>
</div>
