.imprint-overlay {
  background-color: #141d2f;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
  z-index: 50;
  padding-bottom: 50px;
  padding: 16px;
  padding-top: 40px;

  img {
    display: flex;
    position: absolute;
    z-index: 6;
    
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.imprint-content {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.impressum img {
  position: relative;
  top: 5%;
  left: 5%;
  height: 30px;
  z-index: 7;

  &:hover {
    scale: 1.3;
  }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
  .imprint-overlay {
    font-size: 40px;
    img {
      scale: 1.5;
    }
  }

  @media screen and (max-width: 450px) {
    .imprint-overlay img  {
      height: 20px;
    }
    .impressum img {
      top: 3%;
      left: 3%;
    }
  }
}
