.imprint-overlay {
  background-color: #141d2f;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
  z-index: 50;
  padding-bottom: 50px;
  padding: 8px;

  img {
    position: absolute;
    display: flex;
    z-index: 1000;
    top: 6%;
    left: 5%;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.imprint-content {
  max-width: 1920px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.impressum img {
  height: 30px;

  &:hover {
    scale: 1.3;
  }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
  .imprint-overlay {
    font-size: 40px;
    img {
      scale: 1.5;
    }
  }

  @media screen and (max-width: 450px) {
    .imprint-overlay img  {
      height: 20px;
    }
  }
}
