<div class="imprint-overlay">
  <div class="imprint-content">
    <div class="impressum">
      <a routerLink="/">
        <img src="./assets/img/background/icons8-x-64.png" />
      </a>
      <h1>{{ "IMPRINTHEADER" | translate }}</h1>
      <p>{{ "IMPRINTHEADER1" | translate }}</p>
      <p>
        <br />
        Sebastian Schult <br />
        Spanger Str. 9<br />
        27476 Cuxhaven<br />
      </p>
      <p>
        <br />
        <strong>{{ "IMPRINTHEADER2" | translate }} </strong>
        <br />Sebastian Schult <br /><br />
      </p>
      <p>
        <strong>{{ "IMPRINTHEADER3" | translate }}</strong> <br />
        {{ "IMPRINTHEADER4" | translate }}<br />
        E-Mail: <a href="mailto:contact@sebastian-schult-dev.de">contact&#64;sebastian-schult-dev.de<br /></a>
      </p><br />

      <p>
        <strong>{{ "IMPRINTTEXTHEADER" | translate }}</strong
        ><br /><br />
        {{ "IMPRINTTEXT1" | translate }}<br /><br /><strong>{{
          "IMPRINTTEXT2" | translate
        }}</strong
        ><br /><br />
        {{ "IMPRINTTEXT3" | translate }}
        <br /><br /><strong>{{ "IMPRINTTEXT4" | translate }}</strong
        ><br /><br />
        {{ "IMPRINTTEXT5" | translate }} <br />
        {{ "IMPRINTTEXT6" | translate }} <br />
        {{ "IMPRINTTEXT7" | translate }}<br />
      </p>
      
    </div>
  </div>
</div>
