<div class="portfolio-section">
    <div class="portfolio-content">
        <div class="portfolio-header">
            <div class="portfolio-headline">
                <div class="portfolio-line"></div>
                <h2>Portfolio</h2>
            </div>
            <p>Explore a selection of my work here - Interact with my projects to see my skills in action.</p>
        </div>
        <div class="project-content">
            <div class="project-img">
                <div class="porject-btn-git">
                    <a href="https://github.com/SebastianSchult/elPolloDino" target="_blank">Github</a>
                </div>
                <div class="project-btn-live">
                    <a href="http://sebastian-schult.net/polloDino/" target="_blank">Live test</a>
                </div>
                <img src="../../../assets/img/projects/Property 1=Pollo loco.png" alt="">
                <div class="project-d-none">

                </div>
            </div>
            
        </div>
    </div>
</div>
