<div class="portfolio-section" >
  <div class="portfolio-content" id="portfolio-section">
    <div class="portfolio-header" id="portfolio-header">
      <div class="portfolio-headline" >
        <div class="portfolio-line"></div>
        <h2>Portfolio</h2>
      </div>
      <p>
        {{'PORTFOLIOP' | translate }}
      </p>
    </div>
    <div class="project-content">
      <div class="project-img">
        <div class="project-btns">
          <div class="project-btn-git">
            <a
              href="https://github.com/SebastianSchult/elPolloDino"
              target="_blank"
              >Github</a
            >
          </div>
          <div class="project-btn-live">
            <a href="http://sebastian-schult-dev.de/locoDino/" target="_blank"
              >Live test</a
            >
          </div>
        </div>
        <img
          src="assets/img/projects/Pollo loco 3.png"
          alt=""
          class="project-img-img"
        />
        <div class="project-d-none mobile-project">
          <div class="project-d-flex">
            <h3>El loco Dino</h3>
            <div>
              {{'ELLOCODINODESCRIPTION' | translate }}
            </div>
            <p>JavaScript | HTML | CSS</p>
          </div>
        </div>
      </div>
      <div class="project-img">
        <div class="project-btns">
          <div class="project-btn-git">
            <a href="https://github.com/SebastianSchult/join" target="_blank"
              >Github</a
            >
          </div>
          <div class="project-btn-live">
            <a href="http://sebastian-schult-dev.de/join/" target="_blank"
              >Live test</a
            >
          </div>
        </div>
        <img
          src="assets/img/projects/Property 1=Join.png"
          alt=""
          class="project-img-img"
        />
        <div class="project-d-none mobile-project">
          <div class="project-d-flex">
            <h3>Join</h3>
            <div>
              {{'JOINDESCRIPTION' | translate }}
            </div>
            <p>Angular | TypeScript | HTML | CSS | Firebase</p>
          </div>
        </div>
      </div>
    </div>
    <div class="project-content">
      <div class="project-img">
        <div class="project-btns">
          <div class="project-btn-git">
            <a
              href="https://github.com/SebastianSchult/pokedex"
              target="_blank"
              >Github</a
            >
          </div>
          <div class="project-btn-live">
            <a href="https://sebastianschult.github.io/" target="_blank"
              >Live test</a
            >
          </div>
        </div>
        <img
          src="assets/img/projects/pokedex.png"
          alt=""
          class="project-img-img"
        />
        <div class="project-d-none mobile-project">
          <div class="project-d-flex">
            <h3>Pokedex</h3>
            <div>
              {{'POKEDEXDESCRIPTION' | translate }}
            </div>
            <p>JavaScript | HTML | CSS | Firebase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="green-shadow">
    <img
      src="./../../../assets/img/background/54. Green shadow 3 (skills and portfolio section).png"
      alt=""
    />
  </div>
  <div class="blue-shadow">
    <img src="./../../../assets/img/background/53. Blue shadow 2.png" alt="" />
  </div>
</div>
