.portfolio-section {
  padding-top: 600px;
  background-color: #141d2f;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portfolio-content {
  max-width: 1920px;
  width: 100%;
  z-index: 2;
}

.portfolio-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  color: white;

  h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    padding: 1rem;
    padding-left: 30px;
  }

  p {
    width: 473px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding-left: 100px;
  }
}

.portfolio-line {
  width: 68px;
  height: 4px;
  border-radius: 0 10px 10px 0;
  background-color: #9747ff;
}

.project-content {
  height: 700px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 33px;
  margin-top: 100px;
  z-index: 4;
}

.project-btns {
  display: flex;
  position: absolute;
  padding-top: 131px;
  padding-left: 131px;
  gap: 86px;
  visibility: hidden;
  z-index: 5;
}

.project-btn-git {
  a {
    width: 77px;
    font-size: 23px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 27px;
    padding: 15px 30px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #1cdae6;
    transition: background-color 100ms ease-in-out;
  }
}

.project-btn-live {
  a {
    width: 77px;
    font-size: 23px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 27px;
    padding: 15px 30px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #1cdae6;
    transition: background-color 100ms ease-in-out;
  }
}

.project-btn-git:hover a {
  background-color: #1cdae6;
}

.project-btn-live:hover a {
  background-color: #1cdae6;
}

.project-img {
  width: 603px;
  height: 603px;
  border: 1px solid;
  border-radius: 15px;
  border-color: #70e61c;
  overflow: hidden;
  background-color: #141d2f;
  cursor: pointer;
}

.project-d-none {
  display: none;
  width: 603px;
  height: 350px;
  border-radius: 30px 30px 15px 15px;
  background-color: #ffffff;
  position: absolute;
  top: 254px;
}

.project-img:hover .project-d-none {
  display: block;
  transform: display 150ms ease-in-out;
}

.project-img:hover .project-btns {
  visibility: visible;
  transition: visibility 150ms ease-in-out;
}

.project-img:hover .project-img-img {
  transition: opacity 150ms ease-in-out, transform 300ms ease-in-out;
  opacity: 0.5;
  transform: scale(1.55) translateX(10px) translateY(-40px);
}

.project-img img {
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.project-d-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  h3 {
    color: #9747ff;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-top: 59px;
  }
  div {
    color: black;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 27px;
  }
  p {
    color: #70e61c;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 27px;
  }
}

.green-shadow {
  position: absolute;
  left: -640px;
  z-index: 1;
}

.blue-shadow {
  position: absolute;
  right: -360px;
  z-index: 1;
}

@media screen and (max-width: 1310px) {
  .project-content {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 33px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .portfolio-section {
    padding-top: 380px;
  }

  .project-content {
    padding: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio-section {
    padding-top: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .project-img {
    width: 340px;
    height: 339.43px;

    img {
      width: 100%;
      height: 100%; 
      object-fit: cover; 
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
  }
  .project-btns {
    padding-left: 15px;
    padding-top: 34px;
    gap: 20px;
  }

  .project-d-none {
    border-radius: 10px; /* Kleinere Abrundung */
    padding: 10px; /* Weniger Innenabstand für mehr Platz */
    font-size: 14px; /* Schriftgröße reduzieren */
    bottom: 245px; /* Positionierung näher an der unteren Grenze */
    left: 50%; /* Horizontal zentriert */
    transform: translateX(-50%); /* Zentrierung sicherstellen */
    position: relative;
    top: auto;

    .project-d-flex {
      margin-top: -50px;

      h3 {
        font-size: 18px; /* Reduzierte Größe der Überschrift */
        margin-bottom: 10px;
      }

      div {
        font-size: 12px; /* Kleinere Schrift für Textinhalt */
        line-height: 1.4;
      }

      p {
        font-size: 12px; /* Schriftgröße für Technologie-Tag */
      }
    }
  }
  .project-d-none .project-d-flex div {
    font-size: 12px;
    line-height: 1;
    width: 240px;
   
  }
}

@media screen and (max-width: 480px) {
}
