<footer>
  <div class="footer-content">
    <div class="footer-line"></div>
    <div class="footer-content-text">
      <div class="footer-text">
        <div>
          <a href="#" class="logo"
            >Sebast<span class="dot">i</span>a<span class="styled-n"
              ><span class="left-n">n</span><span class="right-n">n</span></span
            ></a
          >
        </div>
        <div class="footer-imprint">
          <a routerLink="./imprint"> imprint</a>
        </div>
        
      </div>
      <div class="footer-copyright">
        <span>© Sebastian Schult 2024</span>
      </div>
      <div class="footer-social-link">
        
      </div>
    </div>
  </div>
</footer>
