<footer>
  <div class="footer-content">
    <div class="footer-line"></div>
    <div class="footer-content-text">
      <div class="footer-text">
        <div>
          <a href="#" class="logo"
            >Sebast<span class="dot">i</span>a<span class="styled-n"
              ><span class="left-n">n</span><span class="right-n">n</span></span
            ></a
          >
        </div>
        <div class="footer-imprint">
          <a routerLink="/imprint"> {{'IMPRINT' | translate}} </a>
        </div>
      </div>
      <div class="footer-copyright">
        <span>© Sebastian Schult 2024</span>
      </div>
      <div class="footer-social-link">
        <a
          href="https://github.com/SebastianSchult"
          class="Icons"
          target="_blank"
        >
          <img
            src="./assets/img/social_btn/Property 1=Default.png"
            alt="GitHub"
          />
        </a>
        <a
          href="#contact"
          class="Icons"
        >
          <img
            src="./assets/img/social_btn/Property 1=Default (1).png"
            alt="Email"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/sebastian-schult-74b69626a/"
          class="Icons"
          target="_blank"
        >
          <img
            src="./assets/img/social_btn/Property 1=Default (2).png"
            alt="Linkedin"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
