footer {
  height: 291px;
  background-color: #141d2f;
  
  z-index: 999;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
}

.footer-line {
  border: 4px solid #70e61c;
  position: absolute;
  width: 100vw;
}

.footer-content-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.logo {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-decoration: none;
  letter-spacing: 0.31px;

  &:hover {
    cursor: pointer;
  }
}

.dot {
  position: relative;
  color: white;
}

.dot::after {
  content: "";
  position: absolute;
  top: 2.1px;
  left: 1.6px;
  background-color: #8a2be2;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.footer-imprint {
  display: flex;
  flex-direction: column;

  a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;

    bottom: 0px;
    cursor: pointer;
  }
  & a:hover {
    color: #70e61c;
    text-decoration: underline;
    text-decoration-color: #9747ff;
    text-decoration-thickness: 3px;
  }
}

.footer-copyright {
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.styled-n {
  display: inline-block;
  position: relative;
}

.left-n {
  color: white;
  position: absolute;
  clip-path: inset(0 50% 0 0);
}

.right-n {
  color: #70e61c;
  position: absolute;
  clip-path: inset(0 0 0 50%);
}

.footer-social-link {
  display: flex;
  gap: 42px;
  margin-right: 50px;
  & :hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
  }

  .logo {
    padding-top: 16px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    margin-left: 0;
    padding-bottom: 40px;
    align-items: center;
  }

  .footer-imprint {
    position: absolute;
    padding-top: 170px;
  }

  .footer-social-link {
    margin-right: 0;
    padding-top: 20px;
  }
}


