<nav>
  <div class="nav-box" id="nav">
    <div>
      <a href="" class="logo"
        >Sebast<span class="dot">i</span>a<span class="styled-n"
          ><span class="left-n">n</span><span class="right-n">n</span></span
        ></a
      >
    </div>
    <div class="navbar-links">
      <a href="#about-me" class="navbar-link">{{ 'ABOUTME' | translate}}</a>
      <a href="#skills" class="navbar-link">Skills</a>
      <a href="#portfolio-section" class="navbar-link">Portfolio</a>

      <div class="lang-box">
        <img
          class="lang-img"
          
          src=""
          alt="english"
          src="assets/img/language/flag_great_britain.png"
          (click)="changeLanguage('en')"
        />
        <img
          class="lang-img"
          
          src=""
          alt="german"
          src="assets/img/language/flag_germany.webp"
          (click)="changeLanguage('de')"
        />
      </div>
    </div>

    <div class="burger-menu-responsive">
      <div class="openBurger">
        <img
          src="./assets/img/header/34. burger menu.png"
          (click)="openResponsiveMenu()"
        />
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="showResponsiveMenu">
    <div class="burger-con">
      <a href="#about-me" (click)="closeResponsiveMenu()">About me</a>
      <a href="#skills" (click)="closeResponsiveMenu()">Skills</a>
      <a href="#portfolio-section" (click)="closeResponsiveMenu()">Portfolio</a>
      <a href="#contact" (click)="closeResponsiveMenu()">Contact</a>
    </div>
  </div>
</nav>
