<nav>
  <div class="nav-box" id="nav">
    <div>
      <a href="#" class="logo"
        >Sebast<span class="dot">i</span>a<span class="styled-n"
          ><span class="left-n">n</span><span class="right-n">n</span></span
        ></a
      >
    </div>
    <div class="navbar-links">
      <a href="#about-me" class="navbar-link">About me</a>
      <a href="#skills" class="navbar-link">Skills</a>
      <a href="#portfolio-section" class="navbar-link">Portfolio</a>

      <div class="lang-box">
        <img
          class="lang-img"
          style="display: none;"
          src=""
          alt="english"
          src="assets/img/language/flag_great_britain.png"
        />
        <img
          class="lang-img"
          style="display: none;"
          src=""
          alt="german"
          src="assets/img/language/flag_germany.webp"
        />
      </div>
    </div>
  </div>
</nav>
