nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #151D2E;
    max-width: 1920px;

    .nav-box {
        display: flex;
        flex-direction: row;
        padding: 24px 100px;
        gap: 29px;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 40px;
        color: white;
        text-decoration: none;
        letter-spacing: 0.31px;
        

        &:hover {
            cursor: pointer;
        }
    }

    .dot {
        position: relative;
        color: white;
      }
      
      .dot::after {
        content: ''; 
        position: absolute;
        top: 11px; 
        left: 1.45px;  
        background-color: #8A2BE2; 
        height: 9px;
        width: 9px;
      }

      .styled-n {
        display: inline-block;
        position: relative;
    }

    .left-n {
        color: white;
        position: absolute;
        clip-path: inset(0 50% 0 0); 
    }
    
    .right-n {
        color: #70E61C;
        position: absolute;
        clip-path: inset(0 0 0 50%); 
    }

    .navbar-links {
        display: flex;
        align-items: center;
        
    }

    .navbar-link {
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
        color: white;
        margin: 0 16px;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: #70E61C;
        }
    }

    .lang-box {
        display: flex;
        align-items: center;
        gap: 16px;

        .lang-img {
            height: 20px;
            width: 30px;
            cursor: pointer;

            &:hover {
                scale: 1.3;
                box-shadow: #70E61C 0px 0px 0px 2px;
            }
        }
    }

    
    
}